<!-- begin hero section -->
<div class="text-light bg-dark">
    <div class="hero-banner">

    </div>
    <div class="container pt-5">

        <div class="row">
            <div class="col-lg-4 py-5 ">
                <div class="d-block">
                    <h2>Nation.</h2>
                    <h2>DIY</h2>
                    <h3>Do It Yourself, with a lil help</h3>
                    <p>Here you can make questions, ask advices and opinons about your project, and be answered by
                        experts
                        in the matter</p>
                </div>

                <div class="d-flex justify-content-evenly mt-2 pt-5">
                    <a (click)="dialogService.openPostQuestionDialog()" class="btn btn-primary"> Ask a Question</a>
                    <a routerLink="questions" class="btn btn-danger"> Check Questions</a>

                </div>
            </div>
            <div class="col-lg-8 py-3">
                <img src="https://images.pexels.com/photos/1178498/pexels-photo-1178498.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="math" class="mx-auto d-block w-75">
            </div>
        </div>
    </div>
</div>
<!-- end hero section -->

<div class="text-dark bg-light">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-8 py-3">
                <img src="https://images.pexels.com/photos/1249611/pexels-photo-1249611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="math" class="mx-auto d-block w-75">
            </div>
            <div class="col-lg-4 py-5">
                <h2>Nation.</h2>
                <h2>DIY</h2>
                <h3>Do It Yourself, with a lil help</h3>
                <p>Here you can make questions, ask advices and opinons about your project, and be answered by experts
                    in the matter</p>
            </div>

        </div>
    </div>
</div>