    <nav class="navbar navbar-expand-lg text-light navbar-dark bg-dark sticky-top p-0">
        <div class="container ">
            <div class="d-flex">
                <a class="navbar navbar-brand mb-0 h1 text-light" routerLink="">
                    <i class="fa-solid fa-screwdriver-wrench"></i> {{title}}
                </a>
                <small class="navbar m-auto"> A homeland for DIY'ers</small>
            </div>



            <div class="d-flex justify-content-start">
                

                    <a routerLink="" class="nav-link font rounded p-1"> <p class="m-3">Home</p> </a>
                    <a routerLink="/questions" class="nav-link font rounded p-1"> <p  class="m-3"> All Questions </p> </a>
                    
                    <ng-container *ngIf="(authService.isLoggedIn$ | async)">
                        <a class="nav-item dropdown font rounded btn">
                            
                            <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa fa-user mt-2 p-1"></i> 
                            </a>
                            
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">                            
                                <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>

                                <li class="dropdown-item">
                                    <a role="button" (click)="dialogService.openPostQuestionDialog()">Ask a Question</a>
                                </li>
                                
                                <li><hr class="dropdown-divider"></li>
                                
                                <li><a class="dropdown-item" role="button" (click)="logout()"><i class="icon fa fa-sign-out fa-fw " aria-hidden="true"></i>Logout</a></li>
                            </ul>
                        </a>
                    </ng-container>


                    <ng-container *ngIf="!(authService.isLoggedIn$ | async)">

                        <a role="button" class="nav-link font rounded p-1" (click)="dialogService.openLoginDialog()"> <p class="m-3">Login</p> </a>
                        <a role="button" class="nav-link font rounded p-1" (click)="dialogService.openSignupDialog()"> <p class="m-3">Signup</p> </a>

                    </ng-container>

            </div>

        </div>
    </nav>
