<mat-card class="containter-fluid p-2 my-5 mat-elevation-z3">


    <mat-card-header class="justify-content-end">

        <div *appIsOwner="answer.author._id">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="delete()" >Delete</button>
            </mat-menu>
        </div>

    </mat-card-header>

    <!-- vote area -->
    <div class="row">
        <div class="col-1">
            <app-votebox [currentValue]="votes" [currentVote]="currentVote" (voted)="vote($event)"></app-votebox>
        </div>

        <div class="col-8 text-break" [innerHTML]="answer.body"></div>
    </div>


    <!--question-footer -->

    <div id="question-footer" class="d-flex justify-content-end">
        <!-- user profile -->
            <app-user-card [user]="answer.author" [date]="answer.createdAt"></app-user-card>

    </div>

    <div class="containter-fluid">
        <hr>
        <a href="" class="btn text-muted"> add comment </a>
        <hr>
    </div>

</mat-card>