<mat-card class="containter-fluid p-2 my-5 mat-elevation-z3">
    <!-- vote area -->
    <div class="row">
        <div class="col-1">
            <app-votebox [currentValue]="votes" [currentVote]="currentVote" (voted)="vote($event)"></app-votebox>
        </div>

        <div class="col-8 text-break" [innerHTML]="answer.body"></div>
    </div>


    <!--question-footer -->

    <div id="question-footer" class="row">
        <!-- user profile -->
        <div class="col-2">
            <!--  will be create a small card with user infs -->
        </div>

    </div>

    <div class="containter-fluid">
        <hr>
        <a href="" class="btn text-muted"> add comment </a>
        <hr>
    </div>

</mat-card>