<mat-card class="bg-grey p-2" id="card" >

    <div class="d-flex">
        <div class="col text-end pe-2">
            <!-- link to the user profile -->
            <a routerLink="/profile/{{user._id}}" class="text-decoration-none"> {{user.username}} </a>
        </div>
        <div class="col-2 m-0">
            <!--  generic shadown img  -->
            <img src="https://www.kindpng.com/picc/m/146-1468390_transparent-shadow-person-png-missing-profile-picture-icon.png"
                alt="" width="32" height="32" class="img-fluid avatar-lg rounded-circle">
        </div>
    </div>

    <mat-card-subtitle>
        {{date | toDate}}
    </mat-card-subtitle>

</mat-card>