<div class="justify-content-start bg-light mat-elevation-z8">
    <hr>

    <!-- summary -->
    <div class="row">
        <div class="d-flex align-items-center justify-content-center justify-content-around flex-column col-2 py-4">

            <div *ngIf="question.acceptedAnswer" class="d-flex justify-content-center">
                <mat-icon class="text-success fs-3">check</mat-icon>
            </div>

            <div>
                <span class="text-muted"> {{votes}} Votes </span>
            </div>

            <div>
                <span class="text-muted"> {{totalAnswers}} Answers </span>
            </div>

        </div>
        <!-- Question title and link -->
        <mat-card class="bg-white col-8 p-4 pb-1">
            <mat-card-title> 
                <!-- router to single question page of given question based on it id -->
                <h1 class="text-capitalize">
                    <a routerLink="/questions/{{question._id}}" class="text-decoration-none  text-dark">{{question.title}}</a> 
                </h1>
            </mat-card-title>
            <mat-card-subtitle>
                <ng-container *ngFor="let tag of question.tags">
                    <a class="badge bg-dark-subtle text-decoration-none link-light text-capitalize text-black-50 fs-7 mx-1"
                        [routerLink]="['/questions']" [queryParams]="{ tag: tag }">{{tag}}</a>
                </ng-container>
            </mat-card-subtitle>

            <!-- user card component -->
            <mat-card-actions align="end">
                <app-user-card [user]="question.author" [date]="question.createdAt"></app-user-card>
            </mat-card-actions>

        </mat-card>
    </div>
    <hr>

</div>