<div class=" container pt-5 p-3">

    <ng-container *ngIf="(question); else notFound">

        <!-- title example  -->
        <mat-card id="question-header" class="p-3">

            <mat-card-title>
                <h1 class="text-capitalize"> {{question.title}}</h1>
            </mat-card-title>

            <mat-card-subtitle>
                <span class="text-muted" id="post-date"> {{ question.createdAt | toDate }}</span>
            </mat-card-subtitle>

            <mat-card-footer class="d-flex justify-content-end">
                <a role="button" (click)="dialogService.openPostQuestionDialog()" class="flex-item btn btn-primary"> Ask a Question</a>
            </mat-card-footer>
            
        </mat-card>

        <!-- Question -->
        <app-question-card [question]="question" ></app-question-card>

        <div class="container-fluid mb-5 w-75">

            <h2>{{question.answers.length}} Answer</h2>

            <!-- Answer -->
            <!--  loop through answers and populate using answer card -->
            <ng-container *ngFor="let answer of pageAnswers">
                <app-answer-card [answer]="answer" [questionAuthor]="question.author._id" [isAcceptedAnswer]="question.acceptedAnswer === answer._id" 
                (deleted)="removeAnswer($event)" (acceptedAsAnswer)="acceptAnswer($event)">
                </app-answer-card>
            </ng-container>
            <!--  paginator logic  -->
            <mat-paginator class="mat-elevation-z3" [length]="0" [pageSize]="5" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons (page)="updatePaging()">
            </mat-paginator>

        </div>
        <!--  event to post and answer in given question useing aswer-form module -->
        <app-post-answer-form (answerCreated)="addAnswer($event)"></app-post-answer-form>        


    </ng-container>

    <ng-template #notFound>
        <div class="d-flex flex-column justify-content-center" style="height: 80vh;" >    
            <mat-spinner class="m-auto spinner-border"></mat-spinner>
        </div>
    </ng-template>

</div>