<div style="height: 50px;"></div>
<div class=" container pt-5 p-3">
    <div class="d-flex">
        <div class="row">
            <!-- User img area -->
            <div class="col-2">
                <img src="https://www.kindpng.com/picc/m/146-1468390_transparent-shadow-person-png-missing-answers-picture-icon.png"
                    alt="" class="img-fluid avatar-lg rounded-circle">

            </div>
            <!-- User name and creation date -->
            <div class="col  m-auto ">
                <div class="d-block justify-content-start">

                    <h1 class=" fs-1"> User name </h1>

                    <i class="fa-solid fa-calendar-days fs-5 text-muted"> User since $date </i>

                </div>


            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div class="d-flex align-items-start mt-5">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-act-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-act" type="button" role="tab" aria-controls="v-pills-act"
                        aria-selected="true">Activity</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">Profile</button>
                </div>
            </div>
        </div>

        <div class="vr"></div>

        <!-- pills to show user activity  -->
        <div class="col">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-act" role="tabpanel" aria-labelledby="v-pills-act-tab"> 
                    <nav>
                        <div class="nav nav-tabs justify-content-around fs-1" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-questions-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-questions" type="button" role="tab" aria-controls="nav-questions"
                                aria-selected="true">Questions</button>
                            <button class="nav-link" id="nav-answers-tab" data-bs-toggle="tab" data-bs-target="#nav-answers"
                                type="button" role="tab" aria-controls="nav-answers" aria-selected="false">Answers</button>
                            <button class="nav-link" id="nav-comments-tab" data-bs-toggle="tab" data-bs-target="#nav-comments"
                                type="button" role="tab" aria-controls="nav-comments" aria-selected="false">Comments</button>
        
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-questions" role="tabpanel"
                            aria-labelledby="nav-questions-tab">
                            <h1> All Questions that User did</h1>
                            <!-- <ng-container *ngFor="let question of (dataSource | async)?.questions"> -->
                            <!-- <app-question-preview></app-question-preview> -->
                            <!-- </ng-container> -->
                        </div>
                        <div class="tab-pane fade" id="nav-answers" role="tabpanel" aria-labelledby="nav-answers-tab">
                            <h1> Answers from user in all posts </h1>
                            <!-- <ng-container *ngFor="let answer of pageAnswers">
                                <app-answer-card [answer]="answer"></app-answer-card>
                            </ng-container>-->
                        </div>
                        <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
                            <h1>All comments that User did </h1>
                        </div>
                    </div>
                </div>
               


            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"> <h1>Nothing for now</h1></div>

        </div>


    </div>
</div>