<div style="height: 50px;"></div>
<div class=" container pt-5 p-3">
    <div class="d-flex">
        <div class="row">
            <div class="col-2">
                <img src="https://www.kindpng.com/picc/m/146-1468390_transparent-shadow-person-png-missing-profile-picture-icon.png"
                    alt="" class="img-fluid avatar-lg rounded-circle">
            </div>
            <div class="col  m-auto ">
                <div class="d-block justify-content-start">

                    <h1 class=" fs-1"> User name </h1>

                    <i class="fa-solid fa-calendar-days fs-4 text-muted">  $date </i>

                </div>

            </div>
        </div>
    </div>
</div>