<div class="container-fluid p-3">
    <h2 mat-dialog-title class="text-center">Signup</h2>

    <mat-dialog-content>
        <form id="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                            
            <!-- Email input -->
            <mat-form-field appearance="fill" class="form-outline mb-4 w-100">
                <input matInput formControlName="email" type="text" placeholder="Email Address" class="form-control" cdkFocusInitial/>
                <mat-hint class="text-danger"> {{ getErrorMessage('email') }} </mat-hint>
            </mat-form-field>
    
    
            <!-- Username input -->
            <mat-form-field class="form-outline mb-4 w-100">
                <input matInput formControlName="username" type="text" placeholder="Username" class="form-control" />
                <mat-hint class="text-danger"> {{ getErrorMessage('username') }} </mat-hint>
            </mat-form-field>
    
            <!-- Password input -->
            <mat-form-field class="form-outline mb-4 w-100">
                <input matInput formControlName="password" type="password" placeholder="Password" class="form-control" />
                <mat-hint class="text-danger"> {{ getErrorMessage('password') }} </mat-hint>
            </mat-form-field>
    
            <!-- Confirm Password input -->
            <mat-form-field class="form-outline mb-4 w-100">
                <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password" class="form-control" />
                <mat-hint class="text-danger"> {{ getErrorMessage('confirmPassword') }} </mat-hint>
            </mat-form-field>
    
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" required id="termsAndConditions" formControlName="termsAndConditions"/>
                        <label class="form-check-label" for="termsAndConditions"> I have read and agree to the terms </label>
                        <mat-hint class="text-danger"> {{ getErrorMessage('termsAndConditions') }} </mat-hint>
                    </div>
                </div>
    
            </div>
    
            <!-- Submit button -->
            <div class="container d-flex justify-content-center">
                <button mat-flat-button color="primary" [disabled]="signupForm.invalid" type="submit" class="mb-4 w-75" >Sign Up</button>
            </div>
    
            <!-- Register buttons -->
            <div class="text-center">
                <p>Already a member? <a href="javascript:void(0)" (click)="dialogService.openLoginDialog()">Login</a></p>
            </div>
        </form>
    
    </mat-dialog-content>
    
    <!-- <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
      <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions> -->
    
</div>