

// .bg-image{
//     background-image: url("https://www.seanrheavey.com/img/s/v-10/p2218116943-3.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center center;
// }


h1 {
    margin: 100px auto 0 auto;
    color: var(--stroke-color);
    font-family: 'Encode Sans Semi Condensed', Verdana, sans-serif;
    font-size: 10rem; line-height: 10rem;
    font-weight: 200;
    text-align: center;
  }
  h2 {
    margin: 20px auto 30px auto;
    font-family: 'Encode Sans Semi Condensed', Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
  }
