<div class="modal fade " id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content br-1 p-3">
            <div class="modal-body">
                <div class="container">
                    <h2 class="my-4 text-center">Sign in</h2>
                    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                        <!-- Email or Username Field -->
                        <mat-form-field class="form-outline mb-3 w-100">
                            <input matInput formControlName="emailOrUsername" type="text" placeholder="Email Address/Username" class="form-control form-key" />
                            <mat-hint class="text-danger"> {{ getErrorMessage('emailOrUsername') }} </mat-hint>
                        </mat-form-field>
                        
                        <!-- Password Field -->
                        <mat-form-field class="form-outline mb-3 w-100">
                            <input matInput formControlName="password" type="password" placeholder="Password" class="form-control form-key" />
                            <mat-hint class="text-danger"> {{ getErrorMessage('password') }} </mat-hint>
                        </mat-form-field>
                        
                        <div class="text-danger text-center mb-3"> {{loginError}} </div>

                        <!-- Submit Button -->
                        <div class="container d-flex justify-content-center">
                            <button mat-flat-button color="primary" [disabled]="loginForm.invalid" type="submit" class="mb-3 w-75" >Sign in</button>
                        </div>


                        <!-- Register Modal Link -->
                        <div class="text-center">
                            <p>Not a member? <a href="#!" data-bs-target="#signupModal" data-bs-toggle="modal" data-bs-dismiss="modal">Register</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>