<div class="container pt-5">
    <mat-dialog-content>
    <div class="d-flex flex--item w100 lg:mb12 lg:100 ai-center">

        <h1 class="fs-headline1 fw-bold mt24"> Ask a public question</h1>
    </div>

    <main id="question-form">
        <form id="postQuestionForm" [formGroup]="postQuestionForm" (ngSubmit)="onSubmit()">
            <div class="d-flex flex-column">
                

                <!-- Title input -->
                <mat-form-field class="form-outline mb-4 w-100">
                    <input matInput formControlName="title" type="text" placeholder="Question Title" class="form-control form-key" />
                    <mat-hint class="text-danger"> {{ getErrorMessage('title') }} </mat-hint>
                </mat-form-field>

                <!-- tags -->
                <app-tags-input matInput formControlName="tags" class="mb-4"></app-tags-input>


                <!-- question body -->
                <div class="mb-4 form-outline">
                    <app-text-editor formControlName="body"></app-text-editor>
                    <div class="text-danger text-center mb-3"> {{ getErrorMessage('body') }} </div>
                </div>

                <div class="d-flex justify-content-evenly mb-4">

                    <input type="submit" value="Save" class="btn btn-primary btn-block">
                    <br>
                    <a role="button" class="btn btn-danger" mat-dialog-close>Cancel</a>
                </div>

            </div>
        </form>
    </main>
    </mat-dialog-content>
</div>