<mat-card class="containter-fluid p-2 my-5 mat-elevation-z3">
    <!-- vote area -->
    <div class="row">

        <div class="col-1">
            <app-votebox [currentValue]="votes" [currentVote]="currentVote" (voted)="vote($event)"></app-votebox>
        </div>

        <div class="col-8 text-break" [innerHTML]="question.body"></div>
        
    </div>


    <!--question-footer -->

    <div id="question-footer">
        <!-- tags -->
        <div class="text-end">
            <ng-container *ngFor="let tag of question.tags">
                <a class="badge bg-dark-subtle text-decoration-none link-light text-capitalize text-black-50 fs-7" [routerLink]="['/questions']" [queryParams]="{ tag: tag }">{{tag}}</a>
            </ng-container>
        </div>
    </div>

    <div class="containter-fluid">
        <hr>
        <a href="" class="btn text-muted"> add comment </a>
        <hr>
    </div>

</mat-card>