<div id="question" class="containter-fluid">
    <!-- vote area -->
    <div class="row">

        <div class="col-1">
            <div class="d-flex justify-content-center flex-column stretch gs4 fc-black-200">
                <i class="fa-solid fa-chevron-up btn up-vote" (click)="vote(1)"></i>

                <h5 class="text-muted text-center m-0"> {{votes}} </h5>

                <i class="fa-solid fa-chevron-down btn down-vote " (click)="vote(-1)" ></i>
            </div>
        </div>

        <div class="col-8" [innerHTML]="question.body"></div>

    </div>


    <!--question-footer -->

    <div id="question-footer">
        <!-- tags -->
        <div class="text-end">
            <ng-container *ngFor="let tag of question.tags">
                <a class="badge bg-dark-subtle text-decoration-none link-light text-capitalize text-black-50 fs-7" routerLink="/questions/notimplementedyet{{tag}}">{{tag}}</a>
            </ng-container>
        </div>


    </div>

    <div class="containter-fluid">
        <hr>
        <a href="" class="btn text-muted"> add comment </a>
        <hr>
    </div>

</div>