/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fs-7{ font-size: 0.7rem; }

.mat-mdc-dialog-surface{
    border-radius: 2.5rem !important;
}

#main{
    min-height: 100vh;
}