<div class=" container pt-5 p-3">

    <ng-container *ngIf="(question); else notFound">

        <!-- title example  -->
        <div id="question-header" class="d-flex align-items-start flex-column">
            <div class="d-flex justify-content-between">
                <h1 class=""> {{question.title}}</h1>
                <div class="flex-item ps-5 "><a routerLink="/ask-question" class="flex-item btn btn-primary"> Ask a
                        Question</a></div>
            </div>

            <div id="post-infs" class="d-flex justify-content-around    ">
                <div class="p-2"><span class="text-muted" id="post-date"> {{ dateStringToLocale(question.createdAt) }}
                    </span></div>
                <div class="p-2"><span class="text-muted" id="answers"> answers </span></div>


            </div>
        </div>
        <hr>

        <!-- Question -->
        <div id="question" class="containter-fluid">
            <!-- vote area -->
            <div class="row">

                <div class="col-1">
                    <div class="d-flex justify-content-center flex-column stretch gs4 fc-black-200">
                        <i class="fa-solid fa-angle-up btn" (click)="vote(1)"></i>
                        <h5 class="text-muted text-center"> {{votes}} </h5>
                        <i class="fa-solid fa-chevron-down btn" (click)="vote(-1)"></i>
                    </div>
                </div>

                <div class="col-8">

                    {{question.body}}

                </div>

                <!--  obs: lateral content will be moved to a diffrent container -->

                <div id="lateral-content" class="col bg-warning">
                    <h3> <b> Related content </b></h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, aperiam repellat. Non debitis,
                        voluptatum autem, velit, eligendi vero tenetur sint at libero perferendis facere necessitatibus
                        saepe a. Quod, non expedita!</p>


                </div>
            </div>


            <!--question-footer -->

            <div id="question-footer" class="row">
                <!-- tags -->
                <div class="col-8">
                    <button> tag test</button>
                </div>
                <!-- user profile -->
                <div class="col-2">
                    <!--  will be create a small card with user infs -->
                </div>

            </div>

            <div class="containter-fluid">
                <hr>
                <a href="" class="btn text-muted"> add comment </a>
                <hr>
            </div>

        </div>

        <div>

            <h2> Answer 1</h2>

            <!-- Answer -->
            <div id="answer" class="containter-fluid">
                <!-- vote area -->
                <div class="row">
                    <div class="col-1">
                        <div class="d-flex justify-content-center flex-column stretch gs4 fc-black-200">

                            <i class="fa-solid fa-angle-up btn"></i>
                            <h5 class="text-muted text-center"> 0 </h5>
                            <i class="fa-solid fa-chevron-down btn"></i>
                        </div>
                    </div>

                    <div class="col-8">

                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, aperiam repellat. Non
                            debitis,
                            voluptatum autem, velit, eligendi vero tenetur sint at libero perferendis facere
                            necessitatibus
                            saepe a. Quod, non expedita!</p>


                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, aperiam repellat. Non
                            debitis,
                            voluptatum autem, velit, eligendi vero tenetur sint at libero perferendis facere
                            necessitatibus
                            saepe a. Quod, non expedita!</p>

                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, aperiam repellat. Non
                            debitis,
                            voluptatum autem, velit, eligendi vero tenetur sint at libero perferendis facere
                            necessitatibus
                            saepe a. Quod, non expedita!</p>

                    </div>


                    <div id="lateral-content" class="col bg-warning">
                        <h3> <b> Related content </b></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, aperiam repellat. Non
                            debitis,
                            voluptatum autem, velit, eligendi vero tenetur sint at libero perferendis facere
                            necessitatibus
                            saepe a. Quod, non expedita!</p>


                    </div>
                </div>


                <!--question-footer -->

                <div id="question-footer" class="row">
                    <!-- user profile -->
                    <div class="col-2">
                        <!--  will be create a small card with user infs -->
                    </div>

                </div>

                <div class="containter-fluid">
                    <hr>
                    <a href="" class="btn text-muted"> add comment </a>
                    <hr>
                </div>

            </div>

        </div>

        <app-post-answer-form></app-post-answer-form>        


    </ng-container>

    <ng-template #notFound>
        <h2>Question not found</h2>
    </ng-template>

</div>